<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fridgepal">

    <application
        android:allowBackup="true"
        android:icon="@drawable/fridge_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fridge_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".essen"></activity>
        <activity android:name=".items_in_list" />
        <activity android:name=".sauces" />
        <activity android:name=".bakery" />
        <activity android:name=".meat" />
        <activity android:name=".herbs" />
        <activity android:name=".beverages" />
        <activity android:name=".forgotpassword" />
        <activity android:name=".greens" />
        <activity android:name=".loginver" />
        <activity android:name=".Recipes" />
        <activity android:name=".mainview" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".items_in_pantry" />
        <activity android:name=".items_in_freezer" />
        <activity android:name=".items_in_fridge" />
        <activity android:name=".dairy" />
        <activity android:name=".fruits" />
        <activity android:name=".vegetables" />
        <activity android:name=".ShoppingList" />
        <activity android:name=".Pantry" />
        <activity android:name=".Fridge" />
        <activity android:name=".Freezer" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>